name: terraform-security

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false
      - name: Debug workspace (pre-fmt)
        working-directory: terraform
        run: |
          echo "PWD=$(pwd)"
          terraform version
          ls -la
          echo "---- Terraform files ----"
          find . -maxdepth 3 -type f \( -name "*.tf" -o -name "*.tfvars" \) -print
          echo "---- fmt check (verbose) ----"
          terraform fmt -check -recursive -list=true
          
      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive

      - name: Terraform init (no backend)
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate

  tflint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Init TFLint plugins
        run: tflint --init

      - name: Run TFLint
        run: tflint --recursive

  checkov:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: terraform
          config_file: .checkov.yml

  tfsec:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run tfsec
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          working_directory: terraform
          additional_args: --config-file .tfsec/config.yml
